<div class="d-flex">
<div class="sidebar">
    <div class="img">
        <img  class="responsive-img" src="../../assets/14720601.jpg" alt="">
        <h2 class="displat-4">{{adminName}}</h2>
    </div>
    <div class="links">
        <ul>
            <li><a routerLink ='records'>Records</a></li>

            <li><a routerLink ='employee'>Employee</a></li>
            <li></li>
            <li></li>
        </ul>
    </div>
  
    <div class=" clock">
        {{ time$ | async | date: 'mediumTime' }}
     </div> 

    </div>
   <div class="container" style="width: 90%;margin-left: 270px;padding-top: 50px;">
    <router-outlet> </router-outlet>
   
    </div>
   
    
      
</div>


